USE [master]
GO
/****** Object:  Database [Randevu]    Script Date: 1/15/2022 10:46:00 PM ******/
CREATE DATABASE [Randevu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Randevu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER22\MSSQL\DATA\Randevu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Randevu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER22\MSSQL\DATA\Randevu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Randevu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Randevu]
GO
/****** Object:  Table [dbo].[Hastane]    Script Date: 1/15/2022 10:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hastane](
	[CustomerID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Date] [date] NOT NULL,
	[Telefon] [nvarchar](10) NOT NULL,
	[Text] [nvarchar](255) NULL,
	[Mail] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Hastane] ([CustomerID], [FirstName], [LastName], [Date], [Telefon], [Text], [Mail]) VALUES (7651, N'samet', N'Hassan', CAST(N'2022-02-15' AS Date), N'5538092416', N'5ara 3aleek', N'yohan@gmail.com')
INSERT [dbo].[Hastane] ([CustomerID], [FirstName], [LastName], [Date], [Telefon], [Text], [Mail]) VALUES (51561651, N'5ara', N'Volkan', CAST(N'2021-12-19' AS Date), N'5539099416', N'HELP', N'yasalam@outlook.com')
INSERT [dbo].[Hastane] ([CustomerID], [FirstName], [LastName], [Date], [Telefon], [Text], [Mail]) VALUES (123, N'Halil', N'Death', CAST(N'2022-01-15' AS Date), N'5538888888', N'HELP', N'yohan@gmail.com')
GO
USE [master]
GO
